{% extends 'base.html' %}

{% block content %}
    <h1>IMDB</h1>
    <p>Any movie?</p>
    <form action="/imdb" method="get">
        <label for="search_title">Search:</label>
        <input id="search_title" type="text" name="search_title">
        <input type="submit" value="OK">
    </form>

    {% block movie %}
    {% endblock %}
{% endblock %}



