{% extends 'home/landing.html' %}

{% block movie %}
    <h2>{{ movie.title }}</h2>
    <div class="movie">
        <p>year: {{ movie.year }}</p>
        <p>released: {{ movie.released }}</p>
        <p>genre: {{ movie.genre }}</p>
    </div>
{% endblock %}